.main-img {
  max-width: 30rem;
}

.envelope-container {
  position: relative;
  display: inline-block;
  margin-top: -12rem;
  cursor: pointer;

  transition: transform 0.25s ease;
}

.envelope-container:hover {
  transform: scale(1.025);
}

.envelope-container.fly-away {
  animation: envelopeFlyAway 0.5s ease-in forwards;
}

@keyframes envelopeFlyAway {
  0% {
    transform: rotate(0deg) translateY(0);
    scale: 1;
    opacity: 1;
  }

  20% {
    transform: rotate(15deg) translateY(-10px);
    scale: 0.9;
  }

  60% {
    transform: rotate(15deg) translateY(-200px);
    opacity: 1;
    scale: 0.8;
  }

  100% {
    transform: rotate(15deg) translateY(-100vh);
    opacity: 0;
  }
}

.envelope {
  color: #e63946;
}

.envelope-text {
  position: absolute;
  bottom: 10.5rem;
  left: 7rem;
  white-space: nowrap;
  font-weight: bold;
  font-size: 2rem;
}