body {
    background-color: #fff0f6;
}

main {
    max-width: 80rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.6rem;
    color: black;
}